   <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>I have a large interest in software design and algorithm analysis, and I am always up to date with what is at the forefront of new and interesting technology. Apart from programming, I am also an avid esports competitor in Counter Strike: Global Offensive and Overwatch.</p>
        <p class="mb-0">When I am not at a computer, you can find me rock climbing at my local rock gym. I also enjoy skiing, SCUBA diving, and Hiking when I have the time. Whatever I am doing, my goal is to make myself and others smile, and I love introducing people to my passions.</p>
      </div>
    </section