  <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="projects">
      <div class="w-100">
        <h2 class="mb-5">Projects</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Independent Study</h3>
            <div class="subheading mb-3">Deep Learning Fall Detection</div>
            <p>Utilized various deep learning techniques to develop a smartphone-based fall detection application.
            The application processed data from smartphone sensors to better detect dangerous falls in the elderly.
</p>
        </div>
    </div>
    
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Senior Capstone Projects</h3>
            <div class="subheading mb-3">Promoting Problem Solving and Logical Thinking Skills utilizing Virtual Reality Game Design</div>
            <p>Worked with the Unity game engine and the SteamVR plugin to build a puzzle game for virtual reality platforms. Game involved customizing then navigating a
 robot through custom-built puzzles.
</p>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Data Structures Project</h3>
            <div class="subheading mb-3">Maze Solving Algorithm</div>
            <p>Utilized various data structures, including stacks and arrays, to implement an algorithm that can analyze a given two-dimensional maze,
 solve the maze, and return the most efficient path through the maze.
</p>
          </div>
        </div>
        
        
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Research Writing Project</h3>
            <div class="subheading mb-3">Shift Cipher Encoder and Decoder</div>
            <p>Designed and implemented an interactive program in C++ that allowes a
 user to encode and decode sentences using a shift cipher.
</p>
          </div>
        </div>
      </div>

    </section>